body {
  padding: 50px;
  font-family: 'Kalam', cursive;
  background-image: url(https://i.imgur.com/88J6HIY.jpg);

}

a {
  color:rgba(166, 166, 166, 0.928);
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: rgb(14, 8, 76);
  background-color: transparent;
  border: none;
  font-size: 20px;
}
	
li {
  list-style: none;
}

h1 {
  color:rgba(166, 166, 166, 0.928);
}

button {
  color:rgba(166, 166, 166, 0.928);
  background: transparent;
  
}

input {
  background-color:rgba(166, 166, 166, 0.928);
}